@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Do+Hyeon&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 1rem;
  width: 100%;
  margin: auto;
  max-width: 1280px;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MainFont {
  font-family: "Do Hyeon", sans-serif;
}

.SubFont {
  font-family: "Poppins", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MC {
  width: 100%;
  margin: auto;
  max-width: 1280px;
  max-height: 320px;
  overflow: hidden;
  border: 2px solid rgb(30 58 138 / var(--tw-bg-opacity, 1));
}

.region-btn-경상도 {
  margin-left: 76px;
}

.region-btn-서울,
.region-btn-인천 {
  padding: 3px 17px;
}

.Event-sc {
  border: 2px solid rgb(30 58 138 / var(--tw-bg-opacity, 1));
}

.react-calendar {
  width: 100%;
  max-height: 280px; /* 높이를 제한 */
  overflow-y: auto; /* 스크롤 추가 */
}

.Event-information {
  margin-top: 1.875rem !important;
}
